version: '3.12'

services:
  uv_app:
    build: .
    container_name: wellness_aggregator
    environment:
      - YOUR_ENV=wellness_aggregator
      - MAX_TIME_REMAINING=36000  # Example for an environment variable
      - HABITICA_TO_MYSQL=True
      - INTERVAL_SECONDS=3600
      - HABITICA_USER_ID=REDACTED
      - HABITICA_API_TOKEN=REDACTED
      - MYSQL_HOST=REDACTED
      - MYSQL_DB=REDACTED
      - MYSQL_USER=REDACTED
      - MYSQL_PASSWORD=REDACTED
    volumes:
      - .:/app  # Mount the current directory to /app inside the container (optional)
    command: ["sh", "-c", "cd /app && python /app/uv_app/run_all.py"]
    restart: always  # Optional: ensures the container always restarts if it stops
