version: '3.8'

services:
  aggregator:
    build: .
    container_name: aggregator
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
    command: ["sh", "-c", "cd /app && python aggregator/run_all.py"]
    restart: always